page-login {

    .content-md {
        background-color: #f3f3f3;
    }

    .item-md {
        background-color: #f3f3f3;
        padding-left: 0px;
    }

    .scroll-content {
        overflow-y: auto;
        padding: 50px;
    }

    form {
        margin-bottom: 32px;
        button {
            margin-top: 20px;
        }
    }

    p {
        font-size: 0.8em;
        color: #d2d2d2;
    }

    .icon-md {
        padding-left: 0px;
        padding-right: 1em;
    }

    ion-label {
        margin-left: 5px;
    }

    img {
        width: 100%;
        // padding-top: 5px;
        padding-bottom: 20px;
    }

    .loginButton {
        background-color: #00bcd4;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .facebookButton {
        background-color: #5070a9;
        margin-top: 20px;
    }

    .googlePlusButton {
        background-color: #dc4e41;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .invalid {
        border-bottom: 1px solid #FF6153;
    }

    .error-message .item-inner {
        border-bottom: 0 !important;
    }

}