<!--<ion-header>

  <ion-navbar>
    <ion-title>Messages</ion-title>
  </ion-navbar>

</ion-header>-->

<ion-content>
  <ion-list no-lines>

    <div *ngFor="let message of eventMessages">


      <ion-item *ngIf="currentUserDetails.username === message.ownerUsername">
        <div class="talk-bubble-right tri-right right-top">
          <div class="talktext">

            <ion-row>
              <h2>{{message.body}}</h2>
            </ion-row>

            <ion-row>
              <ion-col class="floatRight">
                <!--<p>{{message.createdOn | date: 'd MMM'}}</p>-->
                <p>{{message.createdOn | timeSince}}</p>
              </ion-col>
            </ion-row>

          </div>
        </div>
      </ion-item>


      <ion-item *ngIf="currentUserDetails.username != message.ownerUsername">
        <div class="talk-bubble-left tri-right left-top">
          <div class="talktext">
            <ion-row>
              <ion-col class="floatLeft">
                <p>{{message.ownerUsername}}
              </ion-col>
            </ion-row>

            <ion-row>
              <h2>{{message.body}}</h2>
            </ion-row>

            <ion-row>
              <ion-col class="floatRight">
                <!--<p>{{message.createdOn | date: 'd MMM'}}</p>-->
                <p>{{message.createdOn | timeSince}}</p>
              </ion-col>
            </ion-row>

          </div>
        </div>
      </ion-item>

    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input [(ngModel)]="newMessage" placeholder="Type a message"></ion-input>
    <button ion-button item-right color="secondary" (click)="addMessage()"><ion-icon name="text"></ion-icon></button>
  </ion-item>
</ion-footer>