page-event-detail {

  ion-slides {
    height: auto;
  }

  .swiper-container {
    padding-bottom: 20px;
  }

  .swiper-container-horizontal > .swiper-pagination {
    bottom: 0;
  }

  h2 {
      color: #808080;
      margin: 5px;
      font-size: 1.9rem;
      text-align: center;
  }

  h6 {
      color: #808080;
      margin: 1px 5px;
      font-size: 1.2rem;
      text-align: center;
  }

  .messages {

    .label-md {
      margin:0;
    }

    .messageHeader {
      border-bottom: 1px solid #808080;
      margin-top: 5px;
    }

    h2 {
      color: #e9e9e9;
      font-size: 1.5rem;
      text-align: left;
    }

    p {
        color: #e9e9e9;
        font-size: 1.1rem;
    }
  }

  ion-col {
    padding: 1px;
  }

  .floatLeft {
        text-align: left;
    }
    .floatRight {
        text-align: right;
    }

  .profitable {
    color: #22BB22;
    text-align: right;
  }

  .no-profit {
    color: #FF0000;
    text-align: right;
  }
}
