page-event-detail {

  ion-slides {
    height: auto;
  }

  .swiper-container {
    padding-bottom: 20px;
  }

  .swiper-container-horizontal > .swiper-pagination {
    bottom: 0;
  }

  h2 {
      color: #808080;
      margin: 5px;
      font-size: 1.9rem;
      text-align: center;
  }

  h6 {
      color: #808080;
      margin: 1px 5px;
      font-size: 1.2rem;
      text-align: center;
  }

  .messages {
    .item-md {
      background-color: #ffff80;
    }

    .label-md {
      margin:0;
    }

    h2 {
      color: #004080;
      font-size: 1.7rem;
      text-align: left;
    }

    p {
        color: #004080;
        font-size: 1.1rem;
    }
  }

  .profitable {
    color: #22BB22;
    text-align: right;
  }

  .no-profit {
    color: #FF0000;
    text-align: right;
  }
}
