page-profile {

  .profitable {
    color: black;
  }

  .no-profit {
    color: #ff0000;
  }

  .rejected-transaction {
    text-decoration: line-through;
  }

  .transactionHeader {
    background-color: #ECECEC;
    margin: 0;
    padding: 0;

    h2 {
        // color: #808080;
        font-size: 1.5rem;
        font-weight: bold;
    }
  }

  .transactionList {
    background-color: #808080;

    ion-item {
      // border: 1px solid black;
      min-height: 4.4rem;
      padding-left: 0;
      margin-top: 1px;
      background-color: lightgray;
    }

    h6 {
      font-size: 1.2rem;
    }

    .eventTitle {
      display: block;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    
  }

  ion-item {
    padding: 0;
  }

  ion-datetime {
    padding-left: 3px !important;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    padding-top: 10px;
  }

  .scroll-content {
      padding: 0px;
      overflow-y: auto;
  }

  .label-md {
    margin: 0;
  }

  .profileHeader {
    background: rgba(212,228,239,1);
    // background: -moz-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(51,102,204,1) 97%, rgba(51,102,204,1) 100%);
    // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212,228,239,1)), color-stop(97%, rgba(51,102,204,1)), color-stop(100%, rgba(51,102,204,1)));
    // background: -webkit-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(51,102,204,1) 97%, rgba(51,102,204,1) 100%);
    // background: -o-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(51,102,204,1) 97%, rgba(51,102,204,1) 100%);
    // background: -ms-radial-gradient(center, ellipse cover, rgba(212,228,239,1) 0%, rgba(51,102,204,1) 97%, rgba(51,102,204,1) 100%);
    // background: radial-gradient(ellipse at center, rgba(212,228,239,1) 0%, rgba(51,102,204,1) 97%, rgba(51,102,204,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#3366cc', GradientType=1 );
  }

  .avatarButtons {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
  }

  .cameraButton {
    width: 45%;
  }

  .galleryButton {
    width: 45%;
  }

  // .icon-md {
  //   padding-right: 1em;
  // }

  .item-inner {
    border: none !important;
    padding: 0;
  }

  .placeholder-profile {
    color: #CCCCCC;
  }

  .dob-label {
    color: #000000 !important;
    padding: 10px !important;
    max-width: 50% !important;
  }

  .floatLeft {
        text-align: left;
    }
  .floatRight {
        text-align: right;
        padding-right: 0;
    }

  .transactionStatus {
    max-width: 5%;
    text-align: left;
    
    
  }

  .balanceStatus {
    max-width: 5%;
    text-align: left;
    // padding-top: 8px;
  }

  .item-md.item-block .item-inner {
    padding-right: 0;
  }

  ion-badge {
      padding: 3px 3px;
      
    }

    .badge-md {
      background-color: #ffff00;
    }

}