page-profile {

  ion-item ion-label {
    margin: 0 !important;
  }

  ion-list {
    margin: 0;
    padding: 0;
  }

  ion-list-header {
    background-color: #ECECEC;
    margin: 0;
    padding: 10px 16px;
  }

  ion-item {
    padding: 0;
  }

  ion-datetime {
    padding-left: 3px !important;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
  }

  .scroll-content {
      padding: 10px;
  }

  .avatarButtons {
    text-align: center;
  }

  .cameraButton {
    width: 45%;
  }

  .galleryButton {
    width: 45%;
  }

  .icon-md {
    padding-right: 1em;
  }

  .item-inner {
    border: none !important;
    padding: 0;
  }

  .placeholder-profile {
    color: #CCCCCC;
  }

  .dob-label {
    color: #000000 !important;
    padding: 10px !important;
    max-width: 50% !important;
  }
}