<ion-content padding>

  <!--  Event Header - group picture and venue details
        ALL USERS -->
  <ion-slides [options]="sliderOptions">
    <ion-slide *ngFor="let groupImage of groupImages">
      <img src="{{groupImage.image}}">
    </ion-slide>
  </ion-slides>

  <h2>{{eventTitle}}</h2>
  <h6>{{eventStartTime | date: 'fullDate'}}</h6>
  <hr>

  <!--  Map - list of users that were invited to this event
        ALL USERS -->
  <h2>{{eventVenueName}}</h2>
  <div #map id="map"></div>
  <button ion-button block outline color="dark" (click)="openMapsApp()">Get directions</button>
  <hr>

  <!--  Invited guests/Who's Coming' - list of users that were invited to this event
        OWNER -->
  <div *ngIf="eventType === 'MY_EVENT'">
    <h2 *ngIf="eventActualTicketPrice == 0.00 || eventActualTicketPrice == null">Invited Guests</h2>
    <h2 *ngIf="eventActualTicketPrice != 0.00 && eventActualTicketPrice != null">Who's Coming</h2>
    <div class="invitedGuests">
      <ion-scroll scrollX="true" >
        <ion-row>
          <div *ngFor="let user of invitedUsers">
            <ion-col *ngIf="eventActualTicketPrice == 0.00 || eventActualTicketPrice == null" [ngStyle]="{'background-color': user.inviteeBackgroundColor}">
              
              <ion-label>{{user.inviteeName}}</ion-label>
              <img src="{{user.inviteeAvatarURL}}"><span style="position:absolute; top:5; left:10"><ion-badge>x</ion-badge></span>
              
              
            </ion-col>
            <ion-col *ngIf="eventActualTicketPrice != 0.00 && eventActualTicketPrice != null && user.inviteAccepted == 'ACCEPT'">
              <ion-label>{{user.inviteeName}}</ion-label>
              <img src="{{user.inviteeAvatarURL}}">
            </ion-col>
          </div>
        </ion-row>
      </ion-scroll>
    </div>
    <hr>
  </div>


  <!--  Clashes details - Clashes with existing accepted events or possibnle clashes with invited to events
        CLASH EVENTS -->

  <!--  Acceptance details - Going, Tracking, Outstanding amount owed
        INVITED USERS 
        only show if it's an "INVITED_TO_EVENT" and the tickets have not been bought yet -->
  <div *ngIf="eventType === 'INVITED_TO_EVENT' && (eventActualTicketPrice == 0.00 || eventActualTicketPrice == null)" class="acceptanceDetails">
    <ion-row>
      <ion-col width-33 (click)="updateAcceptanceStatus('TRACK')">
        <ion-checkbox [(ngModel)]="statusTrack" (click)="updateAcceptanceStatus('TRACK')" color="danger"></ion-checkbox>
        <ion-label [style.color]="statusTrackColor">Track</ion-label>
      </ion-col>

      <ion-col width-33 (click)="updateAcceptanceStatus('ACCEPT')">
        <ion-checkbox [(ngModel)]="statusAccept" (click)="updateAcceptanceStatus('ACCEPT')" color="danger"></ion-checkbox>
        <ion-label [style.color]="statusAcceptColor">Accept</ion-label>
      </ion-col>

      <ion-col width-33 (click)="updateAcceptanceStatus('REJECT')">
        <ion-checkbox [(ngModel)]="statusReject" (click)="updateAcceptanceStatus('REJECT')" color="danger"></ion-checkbox>
        <ion-label [style.color]="statusRejectColor">Reject</ion-label>
      </ion-col>
    </ion-row>
    <hr>
  </div>



  <!--  Ticket details - original cost, actual cost, total outlay, last chance to accept datetime etc.
        OWNER -->
  <div *ngIf="eventType === 'MY_EVENT'" class="ticketDetails">
    <h2>Ticket Details</h2>
    <ion-row>
      <ion-col width-50>
        <ion-label>Facevalue: {{eventIntialTicketPrice | currency: 'GBP':true}}</ion-label>
      </ion-col>
      <ion-col width-50>
        <ion-label>Actual: {{eventActualTicketPrice | currency: 'GBP':true}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="eventActualTicketPrice == 0.00 || eventActualTicketPrice == null">
        <ion-label><strong>Estimate event cost: {{currentCostOfEvent | currency: 'GBP':true}}</strong></ion-label>
      </ion-col>
      <ion-col *ngIf="eventActualTicketPrice != 0.00 && eventActualTicketPrice != null">
        <ion-label>Bought on: {{eventTicketsBoughtOn | date:'mediumDate'}} at {{eventTicketsBoughtOn | date: 'h:mm a'}}</ion-label>
      </ion-col>
    </ion-row>
    <button *ngIf="eventActualTicketPrice == 0.00 || eventActualTicketPrice == null" ion-button block outline color="dark" (click)="boughtTheTickets()">I've Bought The Tickets</button>
  </div>


</ion-content>