<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button *ngIf="numberOfInvitations > 0" ion-button icon-left clear item-right>
        <ion-icon name="heart"></ion-icon>{{numberOfInvitations}}
      </button>
      <button ion-button clear (click)="goToProfile()">
        <ion-icon name="person"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!-- if we have some events to display -->
  <div *ngIf="firstEventPerformer != null">

    <ion-card (click)="goToEventDetail(firstEventEventfulId, firstEventFirebaseEventId)">
      <img *ngIf="firstEventImage250 == null" src="/img/no-picture-available.jpg" />
      <img *ngIf="firstEventImage250 != null" src="{{firstEventImage250}}" />
      <ion-card-content>
        <h2>{{firstEventPerformer}}</h2>
        <p>{{firstEventDate | date:'EEE MMM d, y - HH:mm'}}</p>
      </ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col width-33>
            <ion-item>
              <ion-icon name="happy" item-left></ion-icon>
              <ion-badge item-right>{{firstEventNumberOfInvites}}</ion-badge>
            </ion-item>
          </ion-col>
          <ion-col width-33>
            <ion-item>
              <ion-icon name="thumbs-up" item-left></ion-icon>
              <ion-badge item-right color="secondary">1</ion-badge>
            </ion-item>
          </ion-col>
          <ion-col width-33>
            <ion-item>
              <ion-icon name="thumbs-down" item-left></ion-icon>
              <ion-badge item-right color="danger">0</ion-badge>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-list no-lines>
      <ion-item *ngFor="let event of eventList; let i = index" (click)="goToEventDetail(event.eventfulId, event.firebaseEventId)">
        <!--<div *ngIf="i != 0">-->
        <ion-thumbnail item-left>
          <img *ngIf="event?.imageMed == null" src="/img/no-picture-available.jpg" />
          <img *ngIf="event?.imageMed != null" src="{{event?.imageMed}}" />
        </ion-thumbnail>
        <h2>{{event?.performer}}</h2>
        <ion-grid>
          <ion-row>
            <ion-col width-50 class="floatLeft">
              <p>{{event?.start_time | date:'mediumDate'}}</p>
            </ion-col>
            <ion-col width-50 class="floatRight">
              <p>{{event?.initialTicketPrice | currency: 'GBP':true}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              {{event?.numberOfInvites}}
            </ion-col>
          </ion-row>
        </ion-grid>
        <!--</div>-->
      </ion-item>
    </ion-list>
  </div>

  <!-- if no events to display -->
  <div class="noEvents" *ngIf="firstEventPerformer == null && eventsCntr === 0">
    <h2>You have no events</h2>
    <p>Click on the button below to start adding some.</p>
  </div>

  <!-- if we're still retrieving the events -->
  <div class="noEvents" *ngIf="firstEventPerformer == null">

  </div>

  <ion-fab bottom right>
    <button ion-fab (click)="addEvent()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>