page-home {

    .firstItem {
    
        // background-color: #d7d7d7;
        // border: 1px solid red;
        text-align: center;

        .group-image {
            display: block;
            margin: 0 auto;
            height: 150px;
            width: auto;
        }

        h2 {
            word-wrap: break-word;
            margin: 3px;
            font-size: 1.9rem;
            text-align: center;
        }
    
        p {
            // color: #808080;
            text-align: center;
            margin: 0 0 3px 0;
        }
    }

        // ion-badge {
        //     font-size: 2rem;
        // }

    }

    img {
        border: 1px solid black;
    }

// }
