page-home {
    ion-card {
        text-align: center;
    }

    .card-content-md {
        padding: 10px 0 2px 0;
    }

    ion-grid, ion-col, ion-row {
        padding: 0
    }

    div.item-inner {
        margin-left: 0;
    }

    // .item [item-right], .item [item-left] {
    //     margin: 0;
    // }

    img {
        border: 1px solid black;
    }

    .floatLeft {
        text-align: left;
    }
    .floatRight {
        text-align: right;
    }

    .noEvents {
        text-align: center; 

        h2 {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    }

}