// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// ion-modal {
//     top: 10% !important;
//     left: 7%!important;
//     width: 86%!important;
//     height: 80%!important;
//     border: 1px solid #333333;
//     box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

//     // Close Button
//     .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {color : whitesmoke;}

//     // Header
//     .toolbar-background {background-color:  #333333;}
//     .toolbar-title {color: whitesmoke;  font-size: 1.7rem;}
//     .toolbar {min-height: 50px;}

//     // Main modal
//     .content-md {background-color:whitesmoke;}

//     // Scrolling list to bring it inline with the bottom of the header
//     .scroll-content {margin-top: 50px !important;}
    
//     // List items
//     .item-md{background-color: whitesmoke;}
// }

.popover-md .popover-content {
    top: 10% !important;
    left: 7%!important;
    width: 86%!important;
    height: 80%!important;
    border: 1px solid #333333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    background-color: whitesmoke;

    // Close Button
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color : red; 
        font-size: 2rem; 
        border: 1px solid whitesmoke;
        background-color: whitesmoke;
    }

    // Header
    .toolbar-background {background-color:  #333333;}
    .toolbar-title {color: whitesmoke;  font-size: 1.7rem;}
    .toolbar {min-height: 50px;}

    // Main modal
    .content-md {background-color:whitesmoke;}

    // Scrolling list to bring it inline with the bottom of the header.
    // this can be overriding in the pages SCSS file to accomodate further components in the header (like a searchbar)
    .scroll-content {margin-top: 50px; margin-left: 0;}
    
    // List items
    .item-md{
        background-color: whitesmoke; 
        padding-left: 5px;
        }

    .label-md {
        margin: 5px 0;
    }

    .button-md {
        margin: 0;
        padding: 0 0.9em;
        // background-color: lightslategray;

        
    }

    .selected {background-color: green;}
    .unselected {background-color: slategrey;}
}

.scoll-content {
    margin-bottom: 60px;
}

ion-footer {
    height: 60px;
    background-color: gray;
}