<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{performer}}</ion-title>

    <ion-buttons end>
      <button ion-button class="add-button" (click)="addEvent()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <img class="group-image" src="{{groupImage250}}">

  <h2>{{eventInfo.title}}</h2>
  <h6>{{eventInfo.start_time | date: 'fullDate'}}</h6>
  <h6>{{eventInfo.venue_name}}, {{eventInfo.city_name}}</h6>
  <hr>

  <div class="ticketInformation">
    <h2>Ticket Information</h2>

    <h5 (click)="editTicketFaceValue()"><strong>Face value: </strong>{{ticketFaceValue | currency: 'GBP':true}}</h5>

  </div>
  <hr>
  <div class="guestDiv">
    <h2>Guests</h2>
    <!--<ion-scroll scrollX="true">
      <img *ngFor="let user of chosenUsers" src="{{user?.avatarURL}}">
    </ion-scroll>-->
    <ion-list>
      <ion-item *ngFor="let user of chosenUsers">
        <div *ngIf="user?.chosen">
          <h2>{{user?.username}}</h2>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <button ion-button (click)="showUsersModal()">Invite Guests</button>

</ion-content>