page-event-add-details {

    .group-image {
        display: block;
        margin: 5px auto;
        height: 250px;
        width: auto;
    }

    h2 {
        color: #808080;
        margin: 5px;
        font-size: 1.9rem;
        text-align: center;
    }
   h5 {
        color: #808080;
        margin: 1px 5px;
        font-size: 1.3rem;
        text-align: center;
    }

    h6 {
        color: #808080;
        margin: 1px 5px;
        font-size: 1.2rem;
        text-align: center;
    }

}
