<ion-header>
  <ion-navbar>
    <ion-title>New Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="primary" fixed>Title</ion-label>
    <ion-input [(ngModel)]="formData.title" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" fixed>Performer</ion-label>
    <ion-input [(ngModel)]="formData.performers" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" fixed>Location</ion-label>
    <ion-input [(ngModel)]="formData.venue_name" type="text"></ion-input>
    <button ion-button item-right color="secondary" (click)='openMap()'><ion-icon name="map"></ion-icon></button>
    <button ion-button item-right color="danger" (click)='openFavouriteVenues()'><ion-icon name="heart"></ion-icon></button>
  </ion-item>
  <ion-item>
    <ion-label color="primary" fixed>Category</ion-label>
    <ion-input [(ngModel)]="formData.category" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" fixed>Start</ion-label>
    <ion-datetime displayFormat="D-MMM-YY hh:mm a" pickerFormat="DD MMM YYYY hh:mm a" min="2017" max="2020-10-31" [(ngModel)]="formData.start_time"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary" fixed>Image</ion-label>
    <ion-input [(ngModel)]="formData.imageURL" type="text"></ion-input>
    <button ion-button item-right (click)='openBrowser()'><ion-icon name="browsers"></ion-icon></button>
  </ion-item>

  <ion-item>
    <ion-label color="primary" fixed>Price</ion-label>
    <ion-input [(ngModel)]="eventInitialPrice" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" fixed>Deadline</ion-label>
    <ion-datetime displayFormat="D-MMM-YY hh:mm a" pickerFormat="DD MMM YYYY hh:mm a" min="2017" max="2020-10-31" [(ngModel)]="eventDeadline"></ion-datetime>
  </ion-item>

  <div class="guestDiv">
    <h2>Guests</h2>
    <ion-list>
      <ion-item *ngFor="let user of chosenUsers">
        <div *ngIf="user?.chosen">
          <h2>{{user?.username}}</h2>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <button ion-button (click)="showUsersModal()">Invite Guests</button>
</ion-content>

<ion-footer>
  <button ion-button color="secondary" (click)="createEvent()">Add Event</button>
</ion-footer>