page-payment-add {

    .sendPaymentButton {
        position: absolute; 
        bottom: 0px; 
        width: 100%
    }

    .text-input-md {
        text-align: right;
    }

    ion-footer {
        padding: 3px 70px;

        .button-md {
            height: 45px;
        }
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md {
        color: gray;
    }
}
