// .ios, .md {
    page-modal-get-location-from-map {

        .scroll-content {
            height: 100%
        }
 
        #map {
            width: 100%;
            height: 100%;
        }
    }
// }
